.body {
    background-image: url('./images/Login.jpg');
    font-family: 'Montserrat';
}

.container {
    width: 100%;
    margin: 0 auto;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo-login {
    display: block;
    margin-bottom: 50px;
}

.username-box,
.password-box {
    margin-bottom: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.username-box input,
.password-box input {
    height: 45px;
    width: calc(300px - 50px);
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    outline: none;
    border-radius: 4px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}



.username-box input::placeholder,
.password-box input::placeholder {
    color: white;
}


.login-btn {
    width: 310px;
    border-radius: 4px;
    height: 45px;
    background-color: #fff;
    color: #0D75FF;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-bottom: 11px;
}

.forgot {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-left: 160px;
    font-weight: 500;
}